addon/StudyUtils.jsm
addon/PioneerUtils.jsm
# for circleCI; don't eslint code in the Firefox directory
firefox
dist
package-lock.json
!.eslintrc.js
# don't lint/format package.json since npm install formats it differently by default
package.json
