sudo: false
language: node_js

node_js:
- "6"

env:
  global:
  # for screen
  - DISPLAY=:99.0
  - TRAVIS=1
  - JPM_FIREFOX_BINARY=$TRAVIS_BUILD_DIR/../firefox/firefox

# before_install:
#  - cd to your src if needed

before_script:
- sh -e /etc/init.d/xvfb start
- sleep 2 # give xvfb some time to start

- npm i -g get-firefox
- cd ..
- get-firefox -ceb unbranded-release
- cd $TRAVIS_BUILD_DIR


notifications:
  email: false
